<!-- <div class="container">

	<div class="row">
		<div class="col-lg-12 banner image-holder">
			<div class="tooltip">
				<h1 class="tooltiptxt">Never buy condoms at a store!</h1>
				<h4>Subscribe today for a flat rate of $7.00 a month</h4>
				<%= link_to "Sign Up", signup_path, class: "btn btn-success" %>
			</div>
		</div>

	</div>
	
</div> -->
<section class="section" id="head">
<div class="container">
	<div class="row">
		<div class="col-lg-12 banner">
			<div class="col-lg-6 c-action">
				<h1>Membership for a few bucks a month!</h1>
				<h3>Subscribe to one of our plans today</h3>
				<a href="signup"><div class="arrow text-center bounce"></div></a>
			</div>
		</div>
	</div>
</div>
</section>

<section class="section" id="products">
	<div class="row secondary">
		<div class="col-lg-12">About</div>
	</div>
</section>

<script src="assets/js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="assets/js/magister.js"></script>